<?xml version='1.0' encoding='utf-8'?>
<widget id="com.hiapp.hiapp" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HiApp</name>
    <description>
        A hybrid app made with Framework7.With PhoneGap you can easily convert it to native iOS app.
    </description>
    <author email="BelinChung@gmail.com" href="https://hi.dearb.me/">
        BelinChung
    </author>
    <content src="index.html" />

    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="DisallowOverscroll" value="true"/>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="www/res/icons/ios/icon-60.png" width="60" height="60" />
        <icon src="www/res/icons/ios/icon-60@2x.png" width="120" height="120" />

        <!-- iOS 6.1 -->
        <!-- Spotlight Icon -->
        <icon src="www/res/icons/ios/icon-40.png" width="40" height="40" />
        <icon src="www/res/icons/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone / iPod Touch -->
        <icon src="www/res/icons/ios/icon.png" width="57" height="57" />
        <icon src="www/res/icons/ios/icon@2x.png" width="114" height="114" />

        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="www/res/icons/ios/icon-small.png" width="29" height="29" />
        <icon src="www/res/icons/ios/icon-small@2x.png" width="58" height="58" />
        
        <!-- iPad -->
        <icon src="www/res/icons/ios/icon-76.png" width="76" height="76" />
        <icon src="www/res/icons/ios/icon-76@2x.png" width="152" height="152" />
        
        <!-- iPad -->
        <icon src="www/res/icons/ios/icon-72.png" width="72" height="72" />
        <icon src="www/res/icons/ios/icon-72@2x.png" width="144" height="144" />
        
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="www/res/icons/ios/icon-50.png" width="50" height="50" />
        <icon src="www/res/icons/ios/icon-50@2x.png" width="100" height="100" />

    </platform>

</widget>
