@import "./mixins.less";
@import "./navbar.less";
@import "./toolbar.less";

.statusbar-overlay{
    background: @mainColor;
}

.flex-column{
  display: flex !important;
  flex-direction: column;

  .flex-rest-height {
    flex: 1;
    height: initial;
  }
}

.flex-row{
  display: flex !important;
  flex-direction: row;

  .flex-rest-width {
    flex: 1;
    width: initial;
  }
}

.tabbar-fixed .page-content, .tabbar-through .page-content, .toolbar-fixed .page-content, .toolbar-through .page-content {
    padding-bottom: 50px;
}

.searchbar-cancel{
  color: @mainColor;
}

.messagebar{
  .link {
    color: @mainColor;
  }
}

.empty-content{
  width: 100%;
  padding: 20px 0;
  text-align: center;
  .iconfont{
    font-size: 80px;
    color: #929292;
  }
  .text {
    font-size: 14px;
    color: #929292;
    margin-top: 6px;
  }
}