.searchbar {
  border-bottom: 0px;
  .searchbar-cancel {

  }
}
.contacts-list {
  margin: 0;

  .contact-item{
    background-color: #ffffff;
    .item-link{
      &:active{
        .list-active(#E9E9E9)
      }
    }
  }

  .item-subtitle {
    font-size: 13px;
    color:#777777;
    padding: 0;
  }
  .item-media {
    padding-top: 7px !important;
    padding-bottom: 8px !important;
    img {
      width: 48px;
      height: 48px;
      border-radius: 24px;
    }
  }
  .list-group-title {
    line-height: 22px;
    padding: 0 15px;
    color:#000;
    border-top: 1px solid #c8c7cc;
    background-color: #efeff4;
    font-weight: 500;
    -webkit-transform:translate3d(0,0,0);
    -webkit-backface-visibility:hidden;
    -webkit-transform-style: preserve-3d;

    &:first-child{
      border-top:none;
    }
  }
  li + .list-group-title {
    margin-top: -1px;
  }
  ul {
    border: none;
    padding-bottom: 20px;
  }

}