.setting-page{
  .item-link{
    &:active{
      .item-content{
        .list-active(#E9E9E9)
      }
    }
  }
  .item-content {
    .content-block();
    box-shadow: none;
    padding-left: 10px;

    .item-title {
      font-size: 14px;
    }
    .item-inner{
      border: 0;
    }
  }

  .logout-button {
    margin-top: 15px;
  }

  .item-media {
    width: 30px;
    height: 30px;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    padding: 0;
  }

  .update {
    background-color: #fca405;
    background-position: 0 -30px;
  }

  .language {
    background-color: #9b59b6;

    >i{
      font-size: 24px;
      position: absolute;
      top: 7px;
      left: 14px;
    }
  }

  .feedback {
    background-color: #38b57f;
    background-position: 0 0;
  }

  .about {
    background-color: #5999f3;
    background-position: -30px 0;
  }

  .user-info {
    padding: 10px 10px 10px 0 !important;
    position: relative;

    .avatar
    ,.avatar > img{
      width: 55px;
      height: 55px;
    }

    .user-detail {
      position: absolute;
      margin: 10px;

      .name {
        font-size: 14px;
      }

      .point {
        font-size: 13px;
        color: #818080;
      }
    }
  }
}